.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.movie-list > a {
  width: 48%;
  border-radius: 10px;
  overflow: hidden;
}
.movie-list > a:nth-child(2n -1) {
  margin-right: 4%;
}
