.movie-item {
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}
.image{
  width: 100px;
  height: 100%;
  object-fit: cover;
  margin-right: 10px;
}
.content{
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.title{
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0 5px;
}
.info{
  color: #888;
  font-size: 12px;
}